@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');

:root {
    --grGold: #D1A103;
    --off-white1: #fffcfc;
    
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
}

/* --------------------Navbar------------------- */

nav {
    z-index: 2;
}

.logo {
    width: 16rem
}

/* .navbar-dark {
    bg-*: var(--logoBlue)!important;
} */

nav a.nav-link {
    font-weight: 100;
    letter-spacing: 0.037rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--off-white1)!important;
    border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0!important;
    height: 6rem!important;
}

navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    border-top: 0.1875rem solid var(--grGold);
}

.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--grGold);
}

/* --------------------Header------------------- */

.header-wrapper {
    position: relative;
    background: url(images/header-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 1;
}

.main-info h1 {
    font-size:4rem;
    font-weight: bold;
    color: var(--grGold);
    text-transform: uppercase;
}

/* -----------------Typed Text------------------- */

.typed-text {
    font-size: 2.75rem;
    font-weight: bold;
    color: var(--off-white1);
}

/* -----------Header Main Btn-------------- */

.btn-main {
    border: 1px solid #fffcfc;
    text-transform: uppercase;
    border-radius: 50rem;
    padding: 0.5rem;
    color: #fffcfc;
    margin: 3rem ;
    background-color: black;
    opacity: 0.7;
    text-decoration: none;
}

.btn-main:hover {
    text-decoration: none;
    background-color: var(--grGold);
}

/* -----------Particles JS-------------- */

.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;

}

@media(max-width: 768px) {
    .particles-canvas {
        display: none;
    }
}


/* -----------About-------------- */
.profile-img {
    /* width: 16rem; */
    margin: auto;
    display: block;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    padding: .3rem;
    border: 1px solid var(--grGold);
}

.about-heading {
    text-transform: uppercase;
    text-align: center;
    color: var(--grGold);
}

.about-p {
    line-height: 2em;
}



/* -----------------Projects------------------- */

.projects-wrapper {
    /* background: #292C2D;
    padding: 3rem 0; */
    background: url(images/jason-mccann-technologies.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: white;
    padding: 3rem 0;
}

.project-image-box {
    /* position: relative; */
    margin: 1rem;
    
    display: inline-block;
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    /* z-index: 1; */
}

.projects-images {
    width: 17rem;
    border: 1px solid var(--grGold);
    padding: 0.5rem 0.5rem;
}

/* -----------------Overflow Box------------------- */

/* .overflow {
    position: absolute;
    opacity: 0;
    background: #000000;
    width: 17rem;
    height: 8rem;
    top: 0;
    border: 1px solid var(--grGold);
    cursor: pointer;
} */

.project-image-box:hover {
    opacity: 60%;
    transition: ease-in-out;
}
.project-icon {
    position: absolute;
    opacity: 0;
    margin-left: -0.12rem;
    margin-top: 5rem;
    color: #f6bf0a;
    font-size: 1.8rem;
}

.project-image-box:hover .project-icon {
    opacity: 1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* -----------------Overflow Box------------------- */

.project-image-popupbox {
    width: 45rem;
    padding: 0 0.5rem;
}

.hyper-link {
    cursor: pointer;
    color: var(--grGold);
}

.hyper-link:hover {
    color: red;
}

/* -----------------MEDIA------------------- */

@media(max-width: 768px) {
    .project-image-popupbox {
        width: 100%;
    }
}

@media(max-height: 570px) {
    .popupbox-wrapper {
        height: 100%;
    }
    .project-image-popupbox {
        width: 50%;
    }
}

@media(max-height: 280px) {
    .popupbox-wrapper {
        height: 90%;
    }
    .project-image-popupbox {
        width: 30%;
    }
}

/* -----------------Footer------------------- */
.footer {
    background: #292C2D;
    color: var(--off-white1);
    padding: 3rem;
}

.footer a {
    text-decoration: none;
    color: var(--off-white1);
}

.footer a:hover {
    text-decoration: none;
    color: var(--grGold);
    cursor: pointer;
}

.footer p {
    margin-bottom: 0;
}

